@import "reset.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body{
    background-color: #F8F9FA;
}

a{
    color: black;
    text-decoration: none;
}

.material-icons{
    cursor: pointer;
}

.velog{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    width: 1024px;
    height: 100%;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info > span, .user-info > button, .user-info > img{
    margin-right: 0.5rem;
}

.user-image{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
    border-radius: 50%;
    object-fit: cover;
}

.post-button{
    height: 2rem;
    padding: 0 1rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    background: #212529;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
}

.post-button a{
    color: white;
}

.post-button:hover{
    border: 1px solid #212529;
    background: #F8F9FA;
    color: #212529;
}

.post-button a:hover{
    color: #212529;
}
.nav{
    width: 1024px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter{
    display: flex;
    align-items: center;
}

.trending, .current, .week{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 3rem;
    margin-right: 0.5rem;
    font-size: 1.125rem;
    cursor: pointer;
}

.trending{
    border-bottom: 2px solid black;
}

.week{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    width: 6rem;
    height: 2rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.875rem;
    cursor: pointer;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 8px;
    position: absolute;
}

.week-box p:hover{
    color: rgb(91, 90, 90);
}

.drop-content{
    display: none;
}

.drop-content a{
    padding: 6px;
    border-bottom: 0.5px solid rgb(241, 241, 241);
}

.drop-content a:hover{
    background-color:rgb(235, 235, 235);
}

.toggle-week-options{
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    width: 6rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.875rem;
    z-index: 999;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 8px;
    position: absolute;
    top:97px;
}

.checked{
    color:  rgb(36, 198, 144);
}
.trending span, .current span, .week span{
    margin-right: 0.5rem;
}


main{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card-grid{
    width: 1024px;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
}

.card:hover {
    transform: translate(0, -5px);
}

.card-image{
    object-fit: cover;
}

.card-info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card-title{
    font-size: 1rem;
    font-weight: bold;
    margin: 0px 0px 0.25rem;
    line-height: 1.5;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-content{
    margin: 0px 0px 1.5rem;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.5;
    height: 3.9375rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-detail{
    display: flex;
    padding-right: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5;
    color:#868E96;
}

.card-date{
    font-size: 0.75rem;
    line-height: 1.5;
}

.separator{
    margin: 0 0.25rem;
}

.card-reply{
    font-size: 0.75rem;
    line-height: 1.5;
}

.card-sub-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1rem;
    border-top: 1px solid #F1F3F5;
    font-size: 0.75rem;
    line-height: 1.5;
}

.left-sub-info-section, .right-sub-info-section{
    display: flex;
    align-items: center;
}

.card-editor-image{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.card-editor{
    color :#ACACAC;
}

.card-editor-name{
    color:#212529;
}

@media screen and (max-width:1799px) {
    .card-grid{
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:1199px) {
/* 타블렛 가로 */
    .card-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    header, .nav, .card-grid{
        width: calc(100% - 2rem);
    }
}
@media screen and (max-width:899px) {
/* 모바일 가로, 타블렛 세로 */
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:599px) {
/* 모바일 세로 */
    .card-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}